/******* FONTS ******/
$font-size: 14px;
$font-color: #000000;

/******* COLORS ******/
$color_white: #fff;
$color_light_gray:#fefefe;
$color_blue: #008cff;
$color_purple: #5133AB;
$color_red: #AC193D;
$color_orange: #DC572E;
$color_green: #00A600;

/*** Media Queries ***/
$tablet: 'min-width: 768px';
$desktop: 'min-width: 992px';
$large: 'min-width: 1200px';